@import "null.css";
@font-face {
  font-family: BalkaraFreeCondensed;
  font-weight: bold;
  src: url("../fonts/BalkaraFreeCondensed.ttf") format("truetype");
}
body {
  background-color: #e4f9ee;
}
h1 {
  font-family: BalkaraFreeCondensed, sans-serif;
  color: rgb(77, 77, 77);
  font-size: 50px;
  padding-left: 20px;
}
h1 {
  line-height: 200px;
}

img {
	padding: 10px 0px 10px 0px;
	max-width: 70%;
	border-radius: 30px;
	display:block;
}

a {
	color: rgb(20, 107, 237);
	text-decoration: underline;
}
.big-image {
	width: 45%;
}
.very-big-image{
	width: 25%;
}
.must-be-big-image {
	max-width: 100%;
}
.old-women-img {
  width: 180px;
  padding-top: 70px;
  display:inline;
  border-radius:0%;
  box-shadow: none;
}
.zzzheka-like-img {
  width: 180px;
  padding-top: 0px;
  display:inline;
  border-radius:0%;
  box-shadow: none;
}
.dobraccoon-img {
  width: 70px;
  padding-top: 50px;
  display:inline;
  border-radius:0%;
  box-shadow: none;
}
.main-block {
	margin-left: 200px;
	margin-right: 200px;
}
.main-block p, li {
	font-family:Arial, Helvetica, sans-serif, sans-serif;
	color: rgb(77, 77, 77);
	font-size: 20px;
	line-height: 40px;
}

.main-block li {
	margin-left: 50px;
}
